---
layout: archive
title: "Oligotrend"
permalink: /talks/
author_profile: true
---

OLIGOTREND

<p>Anticipating non-linear changes across aquatic ecosystems in response to oligotrophication trends</p>
<p>ECR Advanced project funded by the <a href="www.sibecol.org">Iberian Association of Ecology</a>, 2022-2024 (SIBECOL)</p>

<img title="SIBECOL" alt="Alt text" src="/images/sibecol.png">

<h3>What, why and how?</h3>
<p>The main objective of OLIGOTREND is identify the ways in which nutrient oligotrophication trends across the aquatic continuum (rivers, streams, lakes, and estuaries) influence ecological dynamics, how these trends changed over time, and the possible synchrony of abrupt changes in phytoplankton vs macrophyted dominated states. </p>

<p>Most of the datasets collected by ecosystem types (freshwater lentic/lotic, estuarine/coastal) are insufficiently unified and organized by connected hydro-systems. This precludes knowing if oligotrophication trends are coupled with biological responses or if it propagates into coastal areas. Besides, decades of academic research on water quality of these systems have produced large databases that are not systematically harmonized with other datasets characterizing possible drivers of change (e.g., land use, climate, human impacts).</p>

<p>By constructing a database of nutrients and primary production time-series longitudinally encompassing freshwater (lentic and lotic) and estuarine ecosystems, we ask a series of interrelated questions: <b>1)</b> How does the magnitude of oligotrophication in freshwater environments propagates to downstream estuarine/coastal ecosystems?<b>2)</b> Do regime shifts occur in similar intensity and speed across different aquatic ecosystems? <b>3)</b> Do global change stressors (e.g. dam operation) reduce freshwater ecosystem resilience by spatially synchronizing aquatic biodiversity responses to oligotrophication? <b>4)</b> Are occurrence of regime shifts generalizable (or synthesizable) or only case-specific?</p>

<h3>People</h3>
<li></li>


<!--
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
