---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p>My teaching phylosophy is to raise curiosity and help students develop their scientific mindset by learning more the moment they step out of class. Since 2021, I hold an adjunct professorship at the University of Barcelona, <a href="https://www.ub.edu/portal/web/dp-beeca">Department of Evolutionary Biology, Ecology, and Environmental Sciences</a> where I teach and coordinate BSc- and MSc-level courses in Environmental Sciences, Biology, and Marine Sciences</p>

<p>My goal as a mentor is to engage students in scientific questions, study designs, and data analysis. I also strive to encourage team work among the students, so they can learn to work in a multidisplinary environment for understanding natural phenomena, and hence ecology</p>


<img title="teaching" alt="Alt text" src="/images/teaching.png">




<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
