---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h3>Teaching activities</h3>
<p>My teaching phylosophy is to raise curiosity and help students develop their scientific mindset by learning more the moment they step out of class. Between 2021 and 2024, I held an adjunct professorship at the University of Barcelona, <a href="https://www.ub.edu/portal/web/dp-beeca">Department of Evolutionary Biology, Ecology, and Environmental Sciences</a>, where I teach and coordinate BSc- and MSc-level courses in Environmental Sciences, Biology, and Marine Sciences</p>

<h3>Mentoring</h2>
<p>I'm always keen to explore and help craft ideas for BSc and MSc final projects, including but not limited to freshwater and transitional biological communities, metacommunities and biogeography, and paleolimnology. Feel free to <a href="mailto:xavier.benito.granell@gmail.com"> email me </a> if you are interested to co-design such a project together</p>

<p>My goal as a mentor is to engage students in scientific questions, study designs, and data analysis. I also strive to encourage team work among the students, so they can learn to work in a multidisplinary environment for understanding natural phenomena, and hence ecology.</p>

<img title="teaching" alt="Alt text" src="/images/teaching.png">




<!--{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
